@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.woff2') format('woff2'),
        url('../fonts/Tahoma.woff') format('woff'),
        url('../fonts/Tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma-Bold.woff2') format('woff2'),
        url('../fonts/Tahoma-Bold.woff') format('woff'),
        url('../fonts/Tahoma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g8azu5');
  src:  url('../fonts/icomoon.eot?g8azu5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g8azu5') format('truetype'),
    url('../fonts/icomoon.woff?g8azu5') format('woff'),
    url('../fonts/icomoon.svg?g8azu5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-fill:before {
  content: "\e902";
}
.icon-checked:before {
  content: "\e916";
}
.icon-arr-left:before {
  content: "\e917";
}
.icon-arr-down:before {
  content: "\e900";
}
.icon-arr-right:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e903";
}
.icon-cat-list:before {
  content: "\e904";
}
.icon-cat-tile:before {
  content: "\e905";
}
.icon-cross:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e908";
}
.icon-menu1:before {
  content: "\e909";
}
.icon-menu2:before {
  content: "\e90a";
}
.icon-menu3:before {
  content: "\e90b";
}
.icon-menu4:before {
  content: "\e90c";
}
.icon-menu5:before {
  content: "\e90d";
}
.icon-menu6:before {
  content: "\e90e";
}
.icon-menu7:before {
  content: "\e90f";
}
.icon-menu8:before {
  content: "\e910";
}
.icon-menu9:before {
  content: "\e911";
}
.icon-menub1:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-user:before {
  content: "\e915";
}
